body {
  background-color: white;
  transition: all 0.4s ease;
}

body .title {
  color: black;
}

body.dark,
body.dark .container,
body.dark .nav,
body.dark .navbar-menu,
body.dark .navbar-end,
body.dark .navbar-item,
body.dark .tile {
  background-color: black;
  color: white;
}

body.dark .container,
body.dark .title,
body.dark .nav,
body.dark .navbar-menu,
body.dark .navbar-end,
body.dark .tile {
  color: darkgoldenrod;
}
body.dark button {
  background: darkgoldenrod;
  font-size: 20px;
}

body.large {
  font-size: 25px;
}
